/************
Body
************/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #383838;
  width: 350px;
  height: 500px;
  color: #ffffff;
}

/************
Header
************/
header {
  width: 100%;
  background: #2e2d2d;

  .display-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 80%;

    input {
      width: 50%;
      height: 90%;
      background-color: #2e2d2d;
      color: #ffffff;
      border: none;
    }

    select {
      height: 100%;
      border-radius: 0px;
      background-color: #2e2d2d;
      color: #ffffff;
      border: none;
    }

    button {
      float: right;
      background: #891e1e;
      color: #ffffff;
      border: none;
      border-radius: 25%;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
}

/************
List
************/
.accordion-section {
  .accordion-title {
    font-size: large;
    background-color: #444444;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #444444;

    &:nth-child(even) {
      background-color: #444444;
      &:hover {
        background-color: #666666;
      }
    }

    &:nth-child(odd) {
      background-color: #555555;
      &:hover {
        background-color: #666666;
      }
    }
  }

  .accordion-content {
    display: none;
    border-bottom: 1px solid #444444;
  }

  &.active .accordion-content {
    display: block;

    .list {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        height: 40px;
        border-bottom: 1px solid #444444;
        background-color: #3a3a3a;

        .remove-button {
          float: right;
          background: #891e1e;
          color: #ffffff;
          border: none;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }
    }
  }
}
