/************
Body
************/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #383838;
  width: 500px;
  height: 500px;
  color: #ffffff;
}

/************
Header
************/
header {
  width: 100%;
  height: 80px;

  background: #2e2d2d;
  .display-flex {
    display: flex;
    vertical-align: middle;
    justify-content: space-between;

    width: 80%;
    height: 80%;
    padding: 10px;

    input {
      width: 50%;
      height: 90%;
      background-color: #2e2d2d;
      color: #ffffff;
      border: none;
    }

    select {
      padding: 10px;
      height: 100%;
      border-radius: 0px;
      background-color: #2e2d2d;
      color: #ffffff;
      border: none;
    }

    button {
      background: #891e1e;
      color: #ffffff;
      font-size: 14px;
      border: none;
      border-radius: 10px; /* Make the button rounded */
      cursor: pointer;
    }
  }
}
