/************
Body
************/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  width: 500px;
  height: 500px;
  color: #ffffff;
}

/************
Header
************/
header {
  width: 100%;
  height: 50px;

  background: #1a1a1a;

  input {
    background-color: #1a1a1a;
    color: #ffffff;
  }

  select {
    padding: 10px;
    border-radius: 0px;
    background-color: #1a1a1a;
    color: #ffffff;
  }

  button {
    background: #891e1e;
    color: #ffffff;
    font-size: 14px;
    border: none;
    border-radius: 10px; /* Make the button rounded */
    cursor: pointer;
  }
}
